/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #2e8b57;
}

#subtitulo {
    text-align: center;
    color: #666;
}

form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.fieldset {
    border: none;
    padding: 0;
}

.grupo {
    display: flex;
    justify-content: space-between;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2e8b57;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3cb371;
}

.botao {
    background-color: #2e8b57;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.botao:hover {
    background-color: #3cb371;
}

/* Ajuste para os elementos no mesmo grupo (nome e sobrenome) */
.grupo div {
    width: 48%;
}
